/* Variables */
/* ========= */
:root {
  /* Border-Radius */
  --rad-0: 0px;
  --rad-100: 1px;
  --rad-200: 2px;
  --rad-circle: 100%;

  /* Box-Shadow */
  --bs-100: 0 2px 4px 0 rgba(0,0,0,0.10);
  --bs-200: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  --bs-300: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
  --bs-inset-100: inset 0 2px 4px 0 rgba(0,0,0,0.06);
  --bs-outline-100: 0 0 0 3px rgba(52,144,220,0.5);

  /* Border-Width */
  --bw-0: 0px;
  --bw-100: 1px;
  --bw-200: 2px;
  --bw-300: 4px;
  --bw-400: 8px;

  /* Colors */
  --white: #fff;
  --black: #22292f;

  --grey-100: #f8fafc;
  --grey-200: #F1F5F8;
  --grey-300: #DAE1E7;
  --grey-400: #B8C2CC;
  --grey-500: #8795A1;
  --grey-600: #606F7B;
  --grey-700: #3D4852;

  --green-100: #E3FCEC;
  --green-200: #A2F5BF;
  --green-300: #51D88A;
  --green-400: #38C172;
  --green-500: #1F9D55;
  --green-600: #1A4731;
  --green-700: #0F2F21;

  --red-100: #FCEBEA;
  --red-200: #F9ACAA;
  --red-300: #EF5753;
  --red-400: #E3342F;
  --red-500: #CC1F1A;
  --red-600: #621B18;
  --red-700: #3B0D0C;

  --accent-100: #E6E8FF;
  --accent-200: #B2B7FF;
  --accent-300: #7886D7;
  --accent-400: #6574CD;
  --accent-500: #5661B3;
  --accent-600: #2F365F;
  --accent-700: #191E38;

  /* Line-Height */
  --lh-none: 1;
  --lh-tight: 1.25;
  --lh-normal: 1.5;
  --lh-loose: 2;

  /* Sizing / Spacing */
  --sp-100: 4px;
  --sp-200: 8px;
  --sp-300: 12px;
  --sp-400: 16px;
  --sp-500: 24px;
  --sp-600: 32px;
  --sp-700: 48px;
  --sp-800: 64px;
  --sp-900: 96px;
  --sp-1000: 128px;
  --sp-1100: 192px;
  --sp-1200: 256px;
  --sp-1300: 384px;
  --sp-1400: 512px;
  --sp-1500: 640px;
  --sp-1600: 768px;

  /* Font-Size */
  --fs-100: 12px;
  --fs-200: 14px;
  --fs-300: 16px;
  --fs-400: 18px;
  --fs-500: 20px;
  --fs-600: 24px;
  --fs-700: 30px;
  --fs-800: 36px;
  --fs-900: 48px;
  --fs-1000: 60px;
  --fs-1100: 72px;

  /* Font-Weight */
  --fw-hairline: 100;
  --fw-thin: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* Transition Timing */
  --trans-100: 150ms ease-in-out;
  --trans-200: 300ms ease-in-out;
  --trans-300: 500ms ease-in-out;

  /* Z-Index */
  --z-neg: -1;
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-auto: auto;

  /* Font-Family */
  --primary-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}


/* Resets */
/* ====== */
html {
  font-family: var(--primary-family);
  box-sizing: border-box;
  font-size: var(--fs-300);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}


/* Styles */
/* ====== */

body.light {
  --text-color-body: var(--black);
  --background-color-body: var(--white);
  --text-color-summaryCount-pass: var(--green-500);
  --text-color-summaryCount-fail: var(--red-500);
  --text-color-summaryText-pass: var(--green-500);
  --text-color-summaryText-fail: var(--red-400);
  --text-color-testCount-pass: var(--green-600);
  --text-color-testCount-fail: var(--red-600);
  --border-color-result: var(--grey-400);
  --text-color-result: var(--grey-600);
  --text-color-result-hover: var(--black);
  --background-color-result-hover: var(--grey-100);
  --background-color-diffCode-hover: var(--grey-200);
  --text-color-diffCode-expected-hover: var(--green-500);
  --text-color-diffCode-received-hover: var(--red-500);
  --text-color-failureLink-hover: var(--accent-400);
  --text-color-suiteName-hover: inherit;
  --background-color-diffCode: var(--grey-100);
  --text-color-failureLink: var(--grey-500);
  --background-color-button: var(--grey-300);
  --text-color-button: var(--grey-600);
  --background-color-button-hover: var(--grey-500);
  --text-color-button-hover: var(--grey-100);
}

body.dark {
  --text-color-body: var(--grey-400);
  --background-color-body: var(--black);
  --text-color-summaryCount-pass: var(--green-500);
  --text-color-summaryCount-fail: var(--red-500);
  --text-color-summaryText-pass: var(--green-500);
  --text-color-summaryText-fail: var(--red-500);
  --text-color-testCount-pass: var(--green-300);
  --text-color-testCount-fail: var(--red-300);
  --border-color-result: var(--grey-600);
  --text-color-result: var(--grey-600);
  --text-color-result-hover: var(--grey-400);
  --background-color-result-hover: var(--grey-700);
  --background-color-diffCode-hover: var(--black);
  --text-color-diffCode-expected-hover: var(--green-500);
  --text-color-diffCode-received-hover: var(--red-500);
  --text-color-failureLink-hover: var(--accent-200);
  --text-color-suiteName-hover: var(--grey-100);
  --background-color-diffCode: transparent;
  --text-color-failureLink: var(--grey-500);
  --background-color-button: var(--grey-600);
  --text-color-button: var(--grey-200);
  --background-color-button-hover: var(--grey-400);
  --text-color-button-hover: var(--grey-700);
}

body {
  color: var(--text-color-body);
  background-color: var(--background-color-body);
  padding: var(--sp-600);
}

.headlineContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-200);
  margin-bottom: var(--sp-900);
}

.brandText {
  font-size: inherit;
}

.resultsContainer {
  max-width: var(--sp-1600);
  margin: 0 auto;
}

.resultSet {
  margin-bottom: var(--sp-200);
}

.resultSetHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.resultSetHeader.withButton {
  justify-content: space-between;
}

.resultSetContent {
  margin-left: 79px;
}

.summary {
  font-size: var(--fs-700);
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.button {
  border: none;
  border-radius: var(--rad-200);
  background-color: var(--background-color-button);
  color: var(--text-color-button);
  font-size: var(--fs-200);
  padding: var(--sp-300) var(--sp-400);
  font-weight: var(--fw-medium);
  box-shadow: var(--bs-100);
}

.button:hover, .button:focus {
  cursor: pointer;
  background-color: var(--background-color-button-hover);
  color: var(--text-color-button-hover);
}

.button:focus {
  outline: none;
  box-shadow: var(--bs-outline-100);
}

.summaryCount {
  width: var(--sp-800);
  text-align: right;
  margin-right: var(--sp-300);
}

.pass .summaryCount {
  color: var(--text-color-summaryCount-pass);
}

.fail .summaryCount {
  color: var(--text-color-summaryCount-fail);
}

.pass .summaryText {
  color: var(--text-color-summaryText-pass);
}

.fail .summaryText {
  color: var(--text-color-summaryText-fail);
}

.testCount {
  font-size: var(--fs-400);
  margin-bottom: var(--sp-100);
  margin-left: var(--sp-200);
}

.pass .testCount {
  color: var(--text-color-testCount-pass);
}

.fail .testCount {
  color: var(--text-color-testCount-fail);
}

.result {
  font-size: var(--fs-200);
  margin: var(--sp-500) 0;
  padding: var(--sp-300) var(--sp-500);
  border-left: var(--bw-100) solid var(--border-color-result);
  color: var(--text-color-result);
  transition: box-shadow var(--trans-100), transform var(--trans-100);
}

.result:hover {
  background-color: var(--background-color-result-hover);
  border-color: transparent;
  color: var(--text-color-result-hover);
  box-shadow: var(--bs-200);
  transform: scale(1.02);
}

.result:hover .diffCode {
  background-color: var(--background-color-diffCode-hover);
  box-shadow: var(--bs-inset-100);
}

.result:hover .diffCode.expected {
  color: var(--text-color-diffCode-expected-hover);
}

.result:hover .diffCode.received {
  color: var(--text-color-diffCode-received-hover);
}

.result:hover .failureLink {
  color: var(--text-color-failureLink-hover);
}

.result:hover .suiteName {
  color: var(--text-color-suiteName-hover);
}

.suiteName {
  font-weight: var(--fw-semibold);
  margin-bottom: var(--sp-400);
}

.diff {
  padding-left: var(--sp-500);
  margin-bottom: var(--sp-500);
}

.diffText {
  display: block;
  margin-bottom: var(--sp-300);
}

.diffCode {
  display: inline-block;
  padding: var(--sp-400) var(--sp-500);
  background-color: var(--background-color-diffCode);
  white-space: pre;
  overflow: auto;
  max-width: calc(100% - var(--sp-400));
  margin-left: var(--sp-400);
}

.failureLocation {
  padding-left: var(--sp-500);
}

.failureLink {
  color: var(--text-color-failureLink);
  cursor: pointer;
}

.transitionColor {
  transition: background-color var(--trans-100), color var(--trans-100);
}
